@import '../../index.scss';

.main {
  color: $color-text-primary;
}

.wrapper {
  max-width: $wrapper-desktop-xl;
  margin: 0 auto;
  padding-bottom: 40px;
}

.heading {
  padding: 40px 0 20px;

  @include showFont(
    $weight: 700,
    $size: $font-size-l,
    $line-height: $font-line-height-m
  );
}

.shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}
