@use 'styles/variables.scss' as *;
@use 'styles/mixins.scss' as *;
@use 'styles/placeholders.scss' as *;

.containerBun {
  @extend %constructor-ingredient-element;

  &Top {
    border-radius: var(--top-constructor-item-border-radius);
  }

  &Bottom {
    border-radius: var(--bottom-constructor-item-border-radius);
  }
}

.bun {
  margin-left: 48px;

  user-select: none;

  & > * > * {
    cursor: default;
  }
}

.containerEmptyDrop {
  @extend %constructor-ingredient-empty-drop;
}
