@use 'assets/styles/variables.scss' as *;
@use 'assets/styles/mixins.scss' as *;
@use 'assets/styles/placeholders.scss' as *;

.order {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 0;
}

.components {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  max-height: 464px;
  margin: 16px 0 16px 17px;

  overflow-y: auto;
}

.componentsEmpty {
  @extend %constructor-ingredient-element;

  width: 100%;
  margin: 16px 0 16px 48px;
}

.containerEmptyDrop {
  @extend %constructor-ingredient-empty-drop;
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 40px;
  margin-top: 40px;
}
