@use 'assets/styles/variables.scss' as *;
@use 'assets/styles/mixins.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 100px;
}

.paragraph {
  padding-top: 73px;
}

.waiting {
  padding-top: 12px;
}

.paragraph,
.waiting {
  @include show-font($size: $font-size-xs, $line-height: $font-line-height-xxl);
}

.waiting {
  color: $color-text-inactive;
}
