@use 'assets/styles/variables.scss' as *;

.wrapper {
  display: grid;
  grid-template-columns: 25.8% 69.4%;
  column-gap: 60px;
  max-width: $wrapper-desktop-xl;
  margin: 0 auto;
  padding: 120px 0 512px;
}
