@import '../../index.scss';

.heading {
  @include showFont(
    $weight: 700,
    $size: $font-size-s,
    $line-height: $font-line-height-l,
    $color: inherit
  );
}

.tabs {
  display: flex;
}

.ingredients {
  height: 686px;
  margin-top: 40px;

  overflow-y: scroll;
  composes: custom-scroll;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, auto));
  gap: 57px 14px;
  justify-items: center;
  padding: 24px 0 70px 11px;
}
