// FONTS
$font-size-xxl: 14.4rem;
$font-size-xl: 4.8rem;
$font-size-l: 3.6rem;
$font-size-m: 2.8rem;
$font-size-s: 2.4rem;
$font-size-xs: 1.6rem;
$font-size-xxs: 1.4rem;

$font-line-height-xxxl: 150%;
$font-line-height-xxl: 114%;
$font-line-height-xl: 1.43;
$font-line-height-l: 125%;
$font-line-height-m: 111%;
$font-line-height-s: 86%;
$font-line-height-xs: 83%;
$font-line-height-xxs: 75%;

// COLORS
$color-background: #1c1c21;
$color-background-element: #2f2f37;
$color-background-alt: #131316;
$color-background-element: #2f2f37;
$color-text-primary: #f2f2f3;
$color-text-inactive: #8585ad;
$colors-interface-accent: #4c4cff;
$colors-interface-error: #e52b1a;
$colors-interface-success: #00cccc;
$colors-button-inactive: #3a3a55;
$color-scrollbar: $color-background-element $color-text-inactive;

// CONTAINERS
$wrapper-desktop-xl: 1240px;

// SIZES
$offset-base-variable: 2px;
$offset-base-size: 4px;
$top-constructor-item-border-radius: 88px 88px 40px 40px;
$bottom-constructor-item-border-radius: 40px 40px 88px 88px;

$common-border-radius: 64px;
$common-border-radius-s: 40px;

// ANIMATION
$common-transition: all 0.3s ease-in;
$transition-draggable: opacity 0.15s ease;
