@import '../../index.scss';

.order {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 0;
}

.components {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  height: 464px;
  margin: 16px 0 16px 17px;

  overflow-y: scroll;
  composes: custom-scroll;
}

.bun {
  margin-left: 48px;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 9.5px;
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 40px;
  margin-top: 40px;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 9.5px;

  @include showFont(
    $family: 'Iceland',
    $size: $font-size-xl,
    $line-height: $font-line-height-xxs
  );

  > svg {
    width: 33px;
    height: 33px;
  }
}
