@import '../../index.scss';

%constructor-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 536px;
  width: 100%;
  min-height: 80px;
  margin-left: 48px;
  padding: 16px 24px;
  box-sizing: border-box;

  @include show-font(
    $size: $font-size-xs,
    $line-height: 150%,
    $color: $color-text-primary
  );

  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
}

.order {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 0;
}

.components {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  max-height: 464px;
  margin: 16px 0 16px 17px;

  overflow-y: auto;
  composes: custom-scroll;
}

.componentsEmpty {
  @extend %constructor-element;

  width: 100%;
  margin: 16px 0 16px 48px;
}

.containerBun {
  @extend %constructor-element;

  &Top {
    border-radius: var(--top-constructor-item-border-radius);
  }

  &Bottom {
    border-radius: var(--bottom-constructor-item-border-radius);
  }
}

.containerEmptyDrop {
  border: 1.2px solid $colors-interface-accent;
}

.bun {
  margin-left: 48px;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 9.5px;
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 40px;
  margin-top: 40px;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 9.5px;

  @include show-font(
    $family: 'Iceland',
    $size: $font-size-xl,
    $line-height: $font-line-height-xxs
  );

  > svg {
    width: 33px;
    height: 33px;
  }
}
