@import '../../index.scss';

.text {
  display: flex;
  justify-content: center;
  column-gap: 8px;

  @include show-font(
    $size: $font-size-xs,
    $line-height: $font-line-height-xxxl,
    $color: $color-text-inactive
  );
}

.link {
  padding: 0;
}
