@import '../../index.scss';

.overlay {
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  // opacity: 0;
  // visibility: hidden;
}
